<div class="row regform">
  <div class="large-6 medium-9 medium-centered columns">
    <h2>Hura, be readyy for a date</h2>
    <form name="participationForm" novalidate class="css-form">
      <input type="text" placeholder="post" ng-model="participation.post" required /><br />
      <input type="text" placeholder="point" ng-model="participation.point" required /><br />
      <div class="text-center"><input type="submit" ng-click="create()" value="Lets rock" class="button small radius pinkflower" data-ng-disabled="!participation.post + !participation.point" type="submit"/></div>
    </form>
  </div>
</div>