<div class="row">
	<div class="large-12 columns" ng-repeat="comment in comments">
		<img class="circular" ng-src="{{comment.u.avatar}}"/>: {{ comment.post }}
	</div>
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" ng-model='comment'>
        </div>
        <div class="small-2 columns">
          <span ng-click="submit()" value="Post" class="button tiny pinkflower" data-ng-disabled="!comment" type="submit">Post</span>
        </div>
      </div>
    </div>
</div>