<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1><span class="top-name" style="font-size: 1.5em">Cheersee</span> <i class="fa fa-search" style="margin-left: 1em; font-size: 130%"></i></h1>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle" href="#"><i class="fa fa-venus-mars" style="padding: 7px; color: #ffffff; font-size: 180%"></i></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label><i class="fa fa-home fa-2x"></i></label></li>
        <li class="text-center"><img src="assets/images/logo.png" alt="logo" style="width:100px;height:100px"></li>
        <li><a href="#">...</a></li>
      </ul>
    </aside>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Users</label></li>
        <li><a href="#">Hari Seldon</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </aside>

    <section class="main-section" ui-view>
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>
<div class="bottom-bar">
  <div>
      <ul class="inline-list">
        <li><i class="fa fa-pencil-square-o"></i><li>
        <li>I</li>
        <li>Contest</li>
        <li>I</li>
        <li>Participation</li>
        <li>I</li>
        <li><i class="fa fa-bell"></i></li>
      </ul>
    </div>
</div>