<div class="row">
  <div ng-repeat="marked_contest in marked_contests" class="feed small-centered small-10 columns">
    <div class="row">
      <div class="small-4 columns"><a href="/#/{{marked_contest.u.u_id}}"><img class="circular" ng-src="{{contest.u.avatar}}"/></a></div>
      <div class="small-8 columns">
          <p class="text-right post-label" ng-show="marked_contest.ended_at > Date.getTime()"><b>Countdown:</b> <timer end-time="marked_contest.ended_at*1000"> {{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer></p>
      </div>
    </div>
          <p> {{ marked_contest.post }}</p>
    <br/>
    <a ng-href="/#/join/{{ marked_contest.contest_id }}">Join</a>
  </div>
</div>