<ul infinite-scroll="moreContests()" infinite-scroll-disabled="busy" infinite-scroll-distance='2' class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <li ng-repeat="contest in contests" class="feed">
    <div class="row">
      <div class="small-4 columns"><a href="/app/#/{{contest.u.u_id}}"><img class="circular" ng-src="{{contest.u.avatar}}"/></a></div>
      <div class="small-8 columns">
          <p class="text-right post-label" ng-show="contest.ended_at"><b>Countdown:</b> <timer end-time="contest.ended_at*1000"> {{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer></p>
      </div>
    </div>
          <p> {{ contest.post }}</p>
    <div class="image-album" >
      <img ng-repeat="pic in contest.pic" ng-src="{{ pic }}"/>
    </div>
    <ul class="inline-list contest-comment">
      <li><i class="fa fa-pencil-square-o"> Commend</i></li>
      <li><i class="fa fa-comments-o"></i></li>
      <li><i class="fa fa-heart"></i></li>
      <li class="right">
        <a href="/app/#/contest/{{contest._id.$oid}}"><i class="fa fa-external-link"></i></a>
      </li>
    </ul>
  </li>
</ul>