<div class="row regform">
  <div class="large-6 medium-9 medium-centered columns">
    <h2>Create an awesome contest</h2>
    <form name="contestForm" novalidate class="css-form">
      <input type="text" placeholder="subject" ng-model="contest.post" required /><br />
      <input type="text" placeholder="eg. hour, metter, likes,...." ng-model="contest.att" required /><br />
      <span>Rule:</span> <input type="radio" ng-model="contest.rule" value="highest" id="highest" /><span>Highest</span>
      <input type="radio" ng-model="contest.rule" value="lowest" /><span>Lowest</span><br />
      <input type="text" placeholder="How long?" ng-model="contest.timespan" required /><br />
      <div class="text-center"><input type="submit" ng-click="create()" value="Lets rock" class="button small radius pinkflower" data-ng-disabled="!contest.post + !contest.att + !contest.rule + !contest.timespan" type="submit"/></div>
    </form>
  </div>
</div>