/*= require foundation */
@font-face {
    font-family: montez;
    src: url("../font/montez/Montez-Regular.ttf");
}
/*Landingpage + login*/
.landing-bg{
	background: #E80C18;
}
.banner {
	background: url("../images/logo.png");
	background-size: 120px 120px;
    background-repeat: no-repeat;
}
.landing-bg h1{
	color: #ffffff;
	font-size: 3.5em;
	margin: 0.3em 0em 0em 0.5em;
}
.landing-bg h3{
	color: #ffffff;
	margin-left: 2em;
}
.landing-bg h2{
	color: #cf6874;
}
.landing-bg h5{
	color: #cf6874;
}
.regform {
	padding: 1em 2.5em 0em 2.5em;
}
.landing-bg span{
	color: #ffffff;
	margin: 0em 0.7em 0em 0.5em;
}
.landingnav {
	height: 2em;
}
.landingnav p{
	padding: 1em;
	color: #ffffff;
}

.css-form input.ng-invalid.ng-touched {
background-color: #B20900;
}

.css-form input.ng-valid.ng-touched {
background-color: #FFFDB7;
}
/*User pages*/
.main-section {
	padding: 0.7em;
	min-height: 700px;
	background-color: #FFE4EA;
}
.feed {
	background-color: #ffffff;
}
.avatar-container {
}
.circular {
	width: 3em;
	height: 3em;
	margin: 7px;
	border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}
.c-large {
	width: 6em;
	height: 6em;
	margin: 14px;
	border-radius: 3em;
}
.image-album > img {
	width: 33.33%;
	height: 5em;
	border-right: solid 1px;
	border-bottom: solid 1px;
}
.image-album > :first-child {
	width: 100%;
	height: 100%;
	margin: auto;
}
.feed-comment {
	font-size: 1.1em;
}
.feed-comment > li {
	margin: 0.5em 0.5em 0em 0.5em;
}
.post-label {
	font-size: 0.7em;
	color: #505050;
	padding-top: 0.5em;
}
.notation {
	font-size: 0.8em;
	color: grey;
}
.commendpic {
	width: 1.8em;
	height: 1.8em;
	margin-bottom: 0.3em;
}
/*Top bar*/
.top-name {
	background: url("../images/logo.png");
	background-size: 30px 30px;
	background-position: center;
	background-repeat: no-repeat;
	font-family: montez;
}
/*Bottom bar*/
.bottom-bar {
	background-color: #000000;
	position: fixed;
    bottom: 0; 
    width: 100%;
}
.bottom-bar div {
	width: 24em;
	margin: auto;
}
.bottom-bar ul {
    margin: auto;
    padding: 2px;	
}
.bottom-bar div {
	color: #505050;
}
.bottom-bar i {
	font-size: 150%;
}

/*Overlay*/
#overlay {
     position: fixed;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     z-index: 1000;
}

#notification-overlay {
     width:400px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
}
#close-notification {
	text-align: center;
}