<ul infinite-scroll="moreContests()" infinite-scroll-disabled="busy" infinite-scroll-distance='2' class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
  <li ng-repeat="contest in contests" class="feed">
    <div class="row">
      <div class="small-4 columns"><a href="/#/user/{{contest.u.u_id}}"><img class="circular" ng-src="{{contest.u.avatar}}"/></a></div>
      <div class="small-8 columns">
          <p class="text-right post-label" ng-show="contest.ended_at > Date.getTime()"><b>Countdown:</b> <timer end-time="contest.ended_at*1000"> {{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer></p>
          <p class="text-right post-label" ng-show="contest.ended_at < Date.getTime()">Ended</p>
      </div>
    </div>
          <p> {{ contest.post }}</p>
    <div class="image-album" >
      <img ng-repeat="pic in contest.pic" ng-src="{{ pic }}"/>
    </div>
    <br/>
    <ul class="inline-list contest-comment">
      <li><i class="fa fa-comments-o" ng-click="contest.cid = contest.c_link_comment.comment_id.$oid"><span class="notation" ng-show="contest.c_link_comment.count != 0"> {{contest.c_link_comment.count}}</span></i></li>
      <li><i class="fa fa-heart"></i></li>
      <li class="right">
        <ul class="inline-list">
          <li><i class="fa fa-plus" ng-click="markContest(contest._id.$oid)" ng-if="owner.marked_contests.indexOf({contest_id: 'contest.id'}) == null && contest.ended_at > Date.getTime()"></i></li>
          <li><a href="/#/feed/{{contest._id.$oid}}"><i class="fa fa-external-link"></i></a></li>
        </ul>
      </li>
    </ul>
    <div contest-commend ng-if="contest.cid" commendlink="contest.cid"></div>
  </li>
</ul>